<%= stylesheet_link_tag "posts.scss" %>

<%= link_to 'Ajouter un article', url_for([:new, :post]), :id => "button" %>

<h1 id="title">Liste des articles :</h1>

<% @posts.each do |post|%>
    <tr>
    <div class='post'>
      <td><strong><%= post.title%> : </strong> </td>
      <br>
      <td><%= post.header%></td>
      <br>
      <%= image_tag post.image.thumb.url%>
      <br>

      <td> <%= link_to "Voir plus", post %> </td>

      </div>
    </tr>
<% end %>

