<%= stylesheet_link_tag "posts.scss" %>

<%= link_to "Retour", url_for(:back), :id => "button" %>


<h1 id="title">Détails de l'article : </h1>

<div class="post">
<%= @post.title %> 
<br>
<br>
<%= @post.header %> 
<br>
<br>
<%= @post.content %> 
<br>
<br>

<%= image_tag @post.image.thumb.url%>




<p>Ecrit par :</p>
<%= link_to @post.user.first_name + ' ' + @post.user.last_name, @post.user %>, le <%= @post.date %> 
</div>
