<h1>Fiche utilisateur : </h1>

<hr>

<span>Prénom : </span><%= @user.first_name %> 
<br>
<span>Nom : </span><%= @user.last_name %>
<br>
<span>Email : </span><%= @user.email %>

<hr>

<h1>Liste des artcicles : </h1>
<% @posts.each do |post| %>
<hr>
    <tr>
      <td><strong><%= post.title%> : </strong> </td>
      <br>
      <td><%= post.header%></td>
      <br>
      <td> <%= link_to "détails", post %> </td>
      <hr>      
      <br>
    </tr>
<% end %>

<%= link_to 'Back', posts_path %>